//
//  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗███████╗
// ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝██╔════╝
// ██║     ██║   ██║██║     ██║   ██║██████╔╝█████╗  ███████╗
// ██║     ██║   ██║██║     ██║   ██║██╔══██╗██╔══╝  ╚════██║
// ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████╗███████║
//  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝
//
$dark: #1a1c2b;
$light: lighten($dark, 30);
$yellow: #ffd500;
$pink: #ff6392;
$darkPurple: #231942;
$blue: rgb(17, 28, 173);
$green: rgb(48, 173, 17);

//  ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗
// ██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║
// ██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║
// ██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║
// ╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗
//  ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.dev {
  // border: 1px solid tomato;
}

//
// Estilos para el scroll
//
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: $dark;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: $yellow;
}

#app {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.navbar {
  height: 70px;
}

.main {
  height: 100%;
  background-color: rgba(235, 238, 247, 0.795);
}

.footer {
  min-height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.input {
  width: 100%;
  font-size: clamp(0.8rem, 1.2rem, 1.5rem);
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid rgb(78, 22, 168);
  border-radius: 4px;
}

@mixin btnMixin($bg) {
  border: 1px solid transparent;
  padding: 8px;
  margin: 10px 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: $bg;
  &:hover {
    background-color: lighten($color: $bg, $amount: 20);
  }
  &:active {
    background-color: lighten($color: $bg, $amount: 50);
  }
}

.btn--primary {
  @include btnMixin($blue);
}

.btn--success {
  @include btnMixin($green);
}
